@{
    ViewData["Title"] = "View";
}

<h1 class="text-center | display-4">
    Welcome
</h1>

<div>
    <form method="post" class="form-group">
        <h3>
            <input size="50" type="url" name="inputLink" placeholder="https:/example.com/" />
            <input asp-controller="Crawler" asp-action="Input" class="table-light" type="submit" value="Parsing" />
        </h3>
    </form>
</div>